{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About Page</h1>
                <p>This just text</p>

                <p>This came from the template: {{index .StringMap "test"}}</p>

                <p>test</p>

                <p>
                    {{if ne (index .StringMap "remote_ip") ""}}
                        Your remote IP address is {{index .StringMap "remote_ip"}}
                    {{else}}
                        I don't kow you ip address yet, Visit the <a href="/">Home page</a>
                    {{end}}
                </p>

            </div>
        </div>
    </div>

{{end}}