{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Home page</h1>
                <p>this is some text yyyyy</p>

                <img src="/static/images/photo_2023-10-31 11.20.31.jpeg" width="250" height="250"/>
            </div>
        </div>
    </div>
{{end}}